<configuration>
  <connectionStrings>
    <add name="SqlConnection" connectionString="Server=chaos2;Asynchronous Processing=true;MultipleActiveResultSets=True;Initial Catalog=test;User ID=test;Password=XXXXXXXXXXXXXXXXXXX;" providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>